h2 {
  font-size: 17px;
}

h3 {
  font-size: 15px;
  padding-top: 5px;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  padding-block: 20px;
  color: #dddddd;
  background-color: #1C1C1C;
}

.add-task {
  display: flex;
  gap: 10px;
  padding: 8px;
  padding-inline: 16px;
  border: 1.5px dashed #414141;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.task-wrapper {
  padding: 10px;
}

.task-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline: 20px;
}

.group-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: fit-content;
  color: #eeeeee;
  background-color: #222222;
  padding-inline: 12px;
  border-radius: 8px;
}

