<div class="register-container">
  <h2>Crie sua conta</h2>
  <p>Preencha os dados para cadastro</p>
  <form (ngSubmit)="register()">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" [(ngModel)]="name" name="name" required>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit" [disabled]="isLoading">
      <div *ngIf="isLoading" class="spinner"></div>
      Register
    </button>
  </form>
  <div class="create-container">
    <a href="http://localhost:4200/register">Não possui conta? Crie sua conta aqui!</a>
  </div>

</div>
