.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #191919;
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-between;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 15px 0;
}

.sidebar-item a {
  color: #eeeeee;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.sidebar-item a:hover {
  text-decoration: none;
  color: #8bb617;
}

.sidebar-item i {
  color: #9fcf1c; 
  margin-right: 8px;
}

.sidebar-item a:hover i {
  color: #8bb617; 
}

button {
  color: #eeeeee;
  background-color: #191919;
  border: none;
  bottom: 0;
  &:hover {
    color: #8bb617
  }
}
