.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #191919;
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 15px 0;
}

.sidebar-item a {
  color: #eeeeee;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.sidebar-item a:hover {
  text-decoration: none;
  color: #8bb617;
}


/* Muda a cor dos ícones */
.sidebar-item i {
  color: #9fcf1c; /* Substitua pela cor desejada */
  margin-right: 8px;
}

/* Muda a cor dos ícones ao passar o mouse sobre eles */
.sidebar-item a:hover i {
  color: #8bb617; /* Substitua pela cor desejada para o efeito de hover */
}
